## Etapa: 03. Normalização

#### Código criado por: Eduardo Arthur Bitencourt  | Data: 31/07/2023
##### Github: https://github.com/bitencourt-eduardo  | Linkedin: https://www.linkedin.com/in/bitencourt-eduardo/

In [2]:
#!pip install matplotlib
#!pip install imbalanced-learn

In [3]:
#Importar Bibliotecas

import pandas as pd

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import RandomOverSampler

#### Carregando arquivos FieldPRO

Sensor_FieldPRO, dados transmitidos pelo sensor

In [4]:
# Carregar arquivo de dados transmitidos pelo sensor
name_file = 'df_cleaned_merged.csv'
diretorio = '../datasets/{name_file}'

df = pd.read_csv(diretorio.format(name_file=name_file), sep=';', decimal='.')
df.head()

,air_humidity_100,atm_pressure_main,num_of_resets,piezo_charge,piezo_temperature,chuva
0,38.0,9412,0,45123,30,0.0
1,39.0,9419,0,44923,31,0.0
2,39.0,9419,0,44825,31,0.0
3,38.0,9416,0,44728,31,0.0
4,39.0,9411,0,44632,30,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1525 entries, 0 to 1524
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   air_humidity_100   1525 non-null   float64
 1   atm_pressure_main  1525 non-null   int64
 2   num_of_resets      1525 non-null   int64
 3   piezo_charge       1525 non-null   int64
 4   piezo_temperature  1525 non-null   int64
 5   chuva              1525 non-null   float64
dtypes: float64(2), int64(4)
memory usage: 71.6 KB

___________________________________________________
Corrigindo formato time-stamp do campo data

In [6]:
df.describe()

,air_humidity_100,atm_pressure_main,num_of_resets,piezo_charge,piezo_temperature,chuva
count,1525.000000,1525.000000,1525.000000,1525.000000,1525.000000,1525.000000
mean,58.704262,9432.478689,1.495082,44192.804590,25.028197,0.093377
std,21.933831,27.272016,1.040900,12650.914075,8.522773,0.829280
min,13.000000,9350.000000,0.000000,16950.000000,11.000000,0.000000
25%,40.000000,9415.000000,1.000000,34701.000000,18.000000,0.000000
50%,59.000000,9433.000000,1.000000,43968.000000,22.000000,0.000000
75%,78.000000,9451.000000,2.000000,54999.000000,32.000000,0.000000
max,99.000000,9507.000000,3.000000,65533.000000,47.000000,16.800000

_____________________________________________________________________________________________________________________________

# Realizando Normalização dos Dados

In [7]:
#df.reset_index(drop=True, inplace=True)

In [8]:
# Selecionando apenas as colunas numéricas para a normalização
columns_to_normalize = ['air_humidity_100', 'atm_pressure_main',
                        'num_of_resets', 'piezo_charge', 'piezo_temperature', 'chuva']

# Criando o objeto MinMaxScaler
scaler = MinMaxScaler()

# Realizando a normalização das colunas selecionadas
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])
df.head()

,air_humidity_100,atm_pressure_main,num_of_resets,piezo_charge,piezo_temperature,chuva
0,0.290698,0.394904,0.0,0.579894,0.527778,0.0
1,0.302326,0.439490,0.0,0.575778,0.555556,0.0
2,0.302326,0.439490,0.0,0.573760,0.555556,0.0
3,0.290698,0.420382,0.0,0.571764,0.555556,0.0
4,0.302326,0.388535,0.0,0.569788,0.527778,0.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1525 entries, 0 to 1524
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   air_humidity_100   1525 non-null   float64
 1   atm_pressure_main  1525 non-null   float64
 2   num_of_resets      1525 non-null   float64
 3   piezo_charge       1525 non-null   float64
 4   piezo_temperature  1525 non-null   float64
 5   chuva              1525 non-null   float64
dtypes: float64(6)
memory usage: 71.6 KB

In [10]:
df.to_csv('../datasets/df_normalized.csv', sep = ';', index=False)